name: Deploy React to GitHub Pages

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          # IMPORTANT: Tell GitHub where package.json is
          cache-dependency-path: './budget_tracker/budget-frontend/package-lock.json'

      - name: Install dependencies
        # Navigate to the frontend folder
        working-directory: ./budget_tracker/budget-frontend
        run: npm install

      - name: Build
        # Navigate to the frontend folder
        working-directory: ./budget_tracker/budget-frontend
        run: npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Point to the dist folder created by the build step
          path: './budget_tracker/budget-frontend/dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4